// =========================
// Variables
// =========================

$font-family: "Fira code", "Roboto", sans-serif;
$font-family2: "Muli", sans-serif;
// $font-family2: "Open Sans", sans-serif;
$lightBody: #f4f6f8;
$secondaryBody: #f6f9fc;
$green: #30ba67;
$lightGreen: #eafcf1;
$blue: #21396a;
$greenShade: #b9f4bc;
$blueShade: #6772e5;
$textDark: #3e4047;
$markDownText: #6b7c93;
$sidebarBackground: #2a293e;
$sidebarText: #ffffff80;

$primary: #3d69fb;
$primaryLight1: #87add6;
$primaryLight2: #01c7c3;
$secondary: #44f1a6;
$secondaryLight: #01112f;
$secondaryDark: #010d26;
$text: #6c6d70;

$accent: #e1461a;
$bg: #d3d3d3;
$base: #fcfdfe;

%fontSize1 {
  // font-size: 3.75rem;
  // line-height: 1.55;
  font-size: 2.9375rem;
  line-height: 1.574468085106383;
}
%fontSize2 {
  // font-size: 2.5625rem;
  // line-height: 1.58;
  font-size: 2.3125rem;
  line-height: 1.5945945945945945;
}
%fontSize3 {
  // font-size: 2rem;
  // line-height: 1.62;
  font-size: 1.8125rem;
  line-height: 1.6551724137931034;
}
%fontSize4 {
  // font-size: 1.5625rem;
  // line-height: 1.68;
  font-size: 1.4375rem;
  line-height: 1.6956521739130435;
}
%fontSize5 {
  font-size: 1.125rem;
  line-height: 1.7777777777777777;
}
%fontSize6 {
  // font-size: 1rem;
  // line-height: 1.81;
  font-size: 0.875rem;
  line-height: 1.8571428571428572;
}
%para {
  font-size: 1.25rem;
  line-height: 1.7;
}

// =========================
// Mixins
// =========================

%flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

%flex-start {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
%flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

%flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
%item-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
