body {
  margin: 0;
  font-family: "Fira Code", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background: white;
}

// Modules
@import "reset";
@import "vars";
@import "base";
@import "grid";
@import "general";
@import "navbar";
@import "homePage";
@import "sidebar";
@import "login";
@import "track";
@import "module";
@import "mentor";
@import "studentExercise";
@import "studentBlock";
@import "studentProfile";
@import "community";
