
.faqs {
    font-family: $font-source;
    font-family: $lightbg1;
}
.faq-container {
    max-width: 720px;
    margin: 0 auto;
}
.faq-heading {
    text-align: center;
    color: $textBg1Heading;
    font-weight: 700;
    margin-bottom: 3rem;
    font-size: 2.8rem;
}
.question {
    color: $greenDark;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: $font-mukta;
}
.answer {
    // font-family: $fount-source;
    padding: 0.5rem 0 2rem 0;
    color: $textBg1Para;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.013rem;
    b {
        font-weight: 600;
        font-size: 1.4rem;
        padding-right: 0.5rem;
    }
}

@media screen and (max-width: 768px) {
    .faq-container {
        padding: 0 2rem;
    }
    .faq-heading {
        font-size: 2.4rem;
    }
    .answer {
    padding: 0.5rem 0 2rem 0;
    font-size: 1.1rem;;
    font-weight: 500;
    letter-spacing: 0.013rem;
    }
}