html {
  font-size: 16px;
  scroll-behavior: smooth;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: $font-source;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

h1 {
  @extend %fontSize1;
}
h2 {
  @extend %fontSize2;
}
h3 {
  @extend %fontSize3;
  // letter-spacing: -0.08rem;
}
h4 {
  @extend %fontSize4;
  letter-spacing: -0.05rem;
}
h5 {
  @extend %fontSize5;
  letter-spacing: 0;
}
h6 {
  @extend %fontSize6;
  letter-spacing: 0;
}
button {
  outline: 0;
  border: none;
}

.btn {
  margin-top: 1.5rem;
  padding: 0.75rem 6rem;
  font-size: 1.1rem;
  letter-spacing: 0.06rem;
  // border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  background: $green;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  font-family: $font-mukta;
  font-weight: 600;
  &:hover {
    // color: rgb(230, 225, 225);
    transform: translateY(-1px);
    transition: all 0.3s ease;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.padding {
  padding: 6rem 0;
}

.img-responsive {
  width: 100%;
  height: auto;
}
.col-1-2 {
  flex: 1 1 60%;
  @media screen and (max-width: 768px) {
    flex: 0 1 100%;
    order: 1;
    margin-top: 2rem;
  }
}
// .bg-1 {
//   padding: 10rem 0 8rem 0;
// }

.col-img {
  flex: 1 1 40%;
  img {
    max-width: 300px;
  }
  &:nth-child(even) {
    text-align: right;
    @media screen and (max-width: 768px) {
      text-align: center;
    }
  }
  @media screen and (max-width: 768px) {
    flex: 0 1 100%;
    text-align: center;
    img {
      max-width: 300px;
    }
  }
  @media screen and (max-width: 576px) {
    img {
      max-width: 230px;
    }
  }
}
.mockup {
  position: relative;
  .learn {
    position: absolute;
    right: 0rem;
    top: 50%;
    transform: translateY(-50%);
    max-width: 560px;
    @media screen and (max-width: 768px) {
      position: static;
      transform: none;
    }
    @media screen and (max-width: 1024px) {
      max-width: 400px;
    }
    @media screen and (max-width: 576px) {
      max-width: 300px;
    }
  }
}
.padding-left {
  padding-left: 3rem;
  @media screen and (max-width: 768px) {
    padding-left: 0;
  }
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.item-start {
  align-items: flex-start;
}

// CTA
.cta {
  background: url(/assets/media/mask2.svg),
    linear-gradient(to right top, #61cb72, #41a951);
  background-size: cover;
}
.cta-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3rem;
  color: #ffffff;
  font-size: 3.3rem;
  font-weight: 600;

  h3 {
    max-width: 500px;
    margin-right: 2rem;
  }
  a {
    background-color: #ffffff;
    padding: 1rem 3rem;
    font-size: 1.1rem;
    text-decoration: none;
    color: #20345d;
    &.btn {
      margin-top: 0;
    }
  }
  @media screen and (max-width: 768px) {
    flex-direction: column;
    padding: 0;
    h3 {
      width: 100%;
      margin-right: 0;
    }
    a {
      &.btn {
        margin-top: 1rem;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
  .cta {
    text-align: center;
  }

  // .container {

  // }
  // .padding {
  //   // padding: 5rem 1rem;
  // }
}

.bg-1,
.bg-2 {
  background: $lightbg4;
  // background: $textBg1Heading;

  h3 {
    color: $green;
    font-size: 1.8rem;
    font-family: $font-serif;
    font-weight: 700;
  }
  h6 {
    margin-top: 0.25rem;
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    font-family: $font-mukta;
    font-weight: 400;
    color: $textBg1Heading;
    // color: rgb(173, 189, 204);
  }
  p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #6b7c93;
    // padding-right: 2.5rem;
    width: 93%;
  }
}

.feature-description {
  margin-top: 1rem;
}

.bg-2 {
  // background: linear-gradient($lightbg3, #fafcfe, #ffffff);
  // background: linear-gradient(#edf1f5, #ffffff);
  // background: #edf1f5;
  background: $lightbg3;
  h3 {
    color: $textBg1Heading;
    color: $blue;
  }
  h6 {
    // color: rgb(60, 72, 82);
  }
}

p {
  b {
    font-weight: 600;
  }
}

span {
  &.strikethrough {
    text-decoration: line-through;
    color: #7b8a9e;
  }
}

.padding-top-0 {
  padding-top: 0 !important;
}
.margin-bottom-4 {
  margin-bottom: 4rem;
}

.map-embed {
  width: 600px;
  height: 240px;
  margin-top: 2rem;
  @media screen and (max-width: 768px) {
    width: 300px;
  }
}