.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .price-tag-btn {
    padding: 0.1rem 1rem;
  }
}
// index.html

.pricing {
  background: $lightbg1;
}
.pricing-cards {
  @extend %flex-between;
  justify-content: space-evenly;
  align-items: flex-start;
}
.pricing-head {
  @extend %flex-center;
  margin-bottom: 3rem;
  h2 {
    // padding:5rem 0 ;
    font-family: $font-serif;
    font-weight: 700;
    font-size: 2.8rem;
    color: $textBg1Heading;
  }
  img {
    width: 3rem;
    display: inline-block;
    margin-right: 1rem;
  }
}
.pro-pricing {
  border-radius: 8px;
  background: #ffff;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  // filter: drop-shadow(0px 1.92651px 3.85303px rgba(41,37,51,0.1));
  &:hover {
    transform: translateY(-1px);
    transition: transform 0.1s ease;
    box-shadow: 0 30px 60px -12px rgba(50, 50, 90, 0.25),
      0 18px 36px -18px rgba(0, 0, 0, 0.3),
      0 -12px 36px -8px rgba(0, 0, 0, 0.025);
  }
}
.pro-pricing-intro {
  @extend %flex-start;
  background: $lightbg1;
  border-radius: 8px;
  align-items: flex-start;
  img {
    width: 6.5rem;
  }
}
.pro-pricing-value {
  margin: 0;
  font-weight: 600;
  width: 100%;
  h2 {
    // color: $green;
    color: #ad8a56;
  }
  &.pro {
    h2 {
      color: $yellowDark;
    }
  }
  .price-tag {
    display: flex;
    align-items: center;
    h2 {
      font-size: 2rem;
      // margin-right: 1rem;
      margin-right: 1.5rem;
      margin-left: -0.8rem;
    }
  }
}
.price-matrix {
  // width: 60%;
  font-family: $font-mukta;
  .offer {
    margin-top: 0.5rem;
    padding: 0.4rem;
    font-weight: 500;
    background: #d7ecff;
    color: #494bae;
    background: #fde2dd;
    color: #a31d4e;
  }
}

.price {
  @extend %flex-center;
  text-decoration: line-through;
  // text-decoration-color: black;
  color: #919191;
  font-weight: 300;
  padding: 0.5rem 0;
  h4 {
    font-size: 1.6rem;
    // width: 65%;
  }
  p {
    font-size: 1.1rem;
    // width: 25%;
    margin-left: 1rem;
  }
}
.offer-price {
  @extend %flex-center;
  margin-top: -1rem;
  p {
    font-size: 1.4rem;
    // width: 25%;
    margin-left: 0.75rem;
    // color: #e18229;
    color: $green;
  }
  h4 {
    font-size: 2.2rem;
    // width: 65%;
    font-weight: 600;
    color: $blue;
  }
}
.pro-pricing-feature {
  @extend %flex-start;
  border-top: 0.5px solid #e9f4f4;
  padding: 0.5rem 0rem;
  padding: 0 1.5rem;
  img {
    width: 1.2rem;
    padding-right: 0.8rem;
    display: inline-block;
  }
  p {
    font-size: 1.1rem;
    padding: 0.65rem 0rem;
    font-weight: 500;
    color: $textBg1Para;
    font-family: $font-serif;
  }
  .general-feature {
    color: #8b8b8b;
  }
}
.general-feature {
  text-decoration: line-through;
  color: grey;
}

.premium,
.standard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  .btn {
    // padding: 0;
    padding: 0.5rem 1rem;
    padding-right: 1.5rem;
    background: #32325d;
  }
}

.premium-btn {
  @extend %flex-center;
  .premium-btn-img {
    display: inline-block;
    width: 2rem;
  }
}

// pricing.html

.pricing-info-head {
  @extend %flex-center;
  padding: 5rem;
  h2 {
    // padding:5rem 0 ;
    font-family: $font-serif;
    font-weight: 700;
    font-size: 2.8rem;
    color: $textBg1Heading;
  }
  img {
    width: 4%;
    display: inline-block;
    margin-right: 1rem;
  }
}
.pricing-plan {
  @extend %flex-center;
  padding-bottom: 5rem;
}
.plan1 {
  padding-right: 1rem;
}
.plan2 {
  padding-left: 1rem;
}

@media screen and (max-width: 768px) {
  .pro-pricing-feature {
    flex-wrap: nowrap;
  }
  .pricing-head {
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h2 {
      font-size: 2.4rem;
    }
    img {
      width: 50px;
    }
  }
  .pro-pricing-value {
    margin: 0 auto;
    .price-tag {
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // text-align: center;
      h2 {
        font-size: 2rem;
        // margin-right: 1rem;
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
  .pro-pricing-intro {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    img {
      width: 6.5rem;
    }
  }
  .pro-pricing {
    &:last-child {
      margin-bottom: 0;
    }
    &:hover {
      transform: none;
      transition: none;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    }
  }

  .premium {
    margin-bottom: 4rem;
  }
  .premium,
  .standard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .premium,
  .standard {
    .btn {
      padding: 0.5rem 1rem;
      padding-right: 1.5rem;
      width: 50%;
      margin-top: 2rem;
    }
  }
  // .pricing-cards {
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //     width: 100%;
  // }
}

.about {
  .about-altcampus {
    h2 {
      // padding:5rem 0 ;
      font-family: $font-serif;
      font-weight: 700;
      font-size: 2.8rem;
      color: $textBg1Heading;
    }
    p {
      font-size: 1.4rem;
      color: #6b7c93;
    }
  }
  .team {
    margin-top: 5rem;
    h3 {
      font-family: $font-serif;
      font-weight: 700;
      font-size: 2.3rem;
      color: $textBg1Heading;
      margin-bottom: 1rem;
    }
    .members {
      @extend %flex-between;
    }
    .member {
      img {
        height: 200px;
        width: 200px;
        background-color: #c1c1c1;
        border-radius: 4px;
        margin: 15px;
        -o-object-fit: cover;
        object-fit: cover;
      }
      h6 {
        text-align: center;
        color: #20345d;
        font-size: 16px;
      }
    }
  }
}
