$font-serif:'Lato', sans-serif;
$font-serif2: 'Work Sans', sans-serif;

$font-mukta: 'Mukta', sans-serif;
$font-open: 'Open Sans', sans-serif;

$font-source: "Source Sans Pro";


$lightbg1 : #f6f9fc;
$lightbg2: #fff;
$lightbg3 : #f7fafc;
$lightbg4: #e6ebf1;

$yellow: #fcd668;
$yellowDark:  #f5be58;

$blue: #6672e5;
$purple: #32325d;

$greenLight: #d6fad0;
// $green: #3ecf8e;
$green: #15be52;
$greenDark: #008168;

$textBg1Para: #525f7f;
$textBg1Heading: #32325d; 
$textBg1Accent: #3ecf8e;

$textBg2Para: #424770;
$textBg2Heading: #32325d; 
$textBg2Accent: #3ecf8e;

$textBg3Para: #424770;
$textBg3Heading: #159570; 
$textBg3Accent:  #525f7f;


// icon color - #ffa27b(dark), #ffcca5
// icon color green - #bff5bf(light), #43d394(dark), #07a977(darkest)

// #408AF8, #3ECF8E, #F6F9FC, #6B7C93, #677E5


%fontSize1 {
    // font-size: 3.75rem;
    // line-height: 1.55;
    font-size: 3.5rem;
    line-height: 1.5;
  }
  %fontSize2 {
    // font-size: 2.5625rem;
    // line-height: 1.58;
    font-size: 2.3125rem;
    line-height: 1.5945945945945945;
  }
  %fontSize3 {
    // font-size: 2rem;
    // line-height: 1.62;
    font-size: 1.8rem;
    line-height: 1.5;
  }
  %fontSize4 {
    // font-size: 1.5625rem;
    // line-height: 1.68;
    font-size: 1.4375rem;
    line-height: 1.6956521739130435;
  }
  %fontSize5 {
    font-size: 1.125rem;
    line-height: 1.7777777777777777;
  }
  %fontSize6 {
    // font-size: 1rem;
    // line-height: 1.81;
    font-size: 0.875rem;
    line-height: 1.8571428571428572;
  }
  %para {
    font-size: 1.25rem;
    line-height: 1.7;
  }
  
  // =========================
  // Mixins
  // =========================
  
  %flex-between {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  %flex-start {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  %flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  %flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  %item-start {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  } 
  @media screen and (max-width: 768px) {
    %flex-between {
    flex-wrap: wrap;
  }
    %flex-start {
    flex-wrap: wrap;
  }
    %flex-end {
    flex-wrap: wrap;
  }
    %flex-center {
    flex-wrap: wrap;
  }
    %item-start {
    flex-wrap: wrap;
  }
}

