.course-shadow {
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 3rem;
}
.course-details{
    margin: 12rem 0;
}

.course-details-heading {
    text-align: center;
    font-family: $font-serif;
    h2 {
        font-size: 3rem;
        font-weight: 900;
        margin: 3rem 0;        

    }
}
.col1-4 {
    // @extend %flex-center;
    @extend %flex-center;
    width: 28%;
    text-align: left;
    padding-left: 4rem;
    // color: rgb(240, 238, 238);
    font-size: 1.5rem;
    font-weight: 500;
    padding-right: 3rem;
    img {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        display: inline-block;
        margin-bottom: 0.6rem;
        margin-right: 0.7rem;
        border: 3px solid white;
    }
}
.col2-4 {
    width: 50%;
    text-align: left;
    padding-left: 5rem;
    //   color: #6ECAFB;
      font-size: 1.1rem;
      font-weight: 500;
      padding-right: 5rem;
    }
    .col3-4 {
        width: 25%;
        text-align: left;
        // color: #71D08F;
        font-size: 1.3rem;
        font-weight: 500;
        padding-right: 5rem;
        
    }
.course-details-odd-row {
    // background: #32325D;
    background: #FBF5EF;
    
}
.course-details-even-row {
    // background:rgba(50, 50, 93, 0.9);
    background: #FFFAF5;
    
}
.course-article {
     @extend %flex-center;
    //  color: white;
    padding: 2rem 0;
    cursor: arrow;
    &:hover {
    //    background: rgba(brown, 0.9);
    }
    p{
        margin-bottom: 0.5rem;
        letter-spacing: 0.03rem;
    }
    &:last-child{
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
   
}
.course-details-wrapper{
    max-width: 1140px;
    margin: 0 auto;
}

.course-content-head {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 2rem;
    font-weight: 800;
    background: #F0B64B;
    padding: 1rem 0;
    p {
        font-size: 2rem;
        // color: rgb(199, 186, 13);
    }
}
//grid-background
.grid {
    // background: rgba(238, 235, 235,0.4);
    position: absolute;
    // top: 0;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    // background: red;
    grid-template-rows: repeat(18, 60px);
    transform: skew(0deg, -10deg);
    position: absolute;
    width: 100%;
    // height: 800px;
    top: 4rem;
    // top: 0;
    // left: 0;
    // right: 0;
    // bottom: 0;
    z-index: -1;
}
.stripe1 {
    grid-row: 4/4;
    grid-column: span 1;
    background: #dbd94e;
    height: 100%;
}
.stripe2 {
   grid-row: 5/5;
    grid-column: 1/3;
    background: #21396a;
    height: 100%;
}
.stripe3 {
     grid-row: 5/5;
    grid-column: 3/5;
    background: #4675d3;
    height: 100%;
}
.stripe4 {
     grid-row: 6/6;
    grid-column:  -1/-2;
    background: #4675d3;
    height: 100%;
}
.stripe5 {
    grid-row: 7/7;
    grid-column: -1/-3;
    background: #46d346;
    height: 100%;
}
.stripe6 {
     grid-row: 11/11;
    grid-column:    -1/-4;
    // border: 2px solid #d6d4d1;
    // background: #d38a46;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: tomato;
    font-weight: 700;
    font-size: 1.3rem;
    background: brown
}
.stripe7 {
      grid-row: 12/12;
    grid-column:    -1/-3;
    // border: 2px solid #d6d4d1;
    border-top: none;
    // background: #d38a46;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 71, 80);
    font-size: 1.3rem;
    font-weight: 700;
    // transform: skew(0, 10deg);
    background: #4675d3;

    
}

//course-highlights
.course-highlights {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    // margin: 0 1rem;
    margin-bottom: 6rem;
    background:#F0B64B;
    box-shadow: 2px 2px 30px -30px rgba(0,0,0,.7);
    // border-radius: 8px;
    box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);
    

    &:hover {
        transform: translateY(-2px);
        box-shadow:0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
    }
    transition: transform 0.5s ease;
}

.col {
    width: 25%;
    text-align: center;
    border-right: 1px solid black;
    &:last-child {
        border-right: none;
    }
    .numbers {
        color: black;
        font-size: 5rem;
        font-weight: 900;
        margin-bottom: -1.3rem;
    }
    .topics {
        color: rgb(31, 30, 30);
        font-size: 1.4rem;
        font-weight: 700;
    }
    
}
