.course-shadow {
  box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 3rem;
}
.course-details {
  // margin: 8rem 0;
  background: $lightbg1;
  background: linear-gradient(#f4f6ff, #f5f7ff, #ffffff);
  // padding: 3rem 0 5rem;
}

.course-details-heading {
  @extend %flex-center;

  text-align: center;
  font-family: $font-serif;
  h2 {
    font-size: 2.6rem;
    line-height: 3.2rem;
    font-weight: 700;
    // margin: 3rem 0;
    color: $textBg1Heading;
  }
  img {
    display: inline-block;
    width: 3rem;
    margin-right: 1rem;
  }
}

.course-details-odd-row {
  // background: #32325D;
  background: #fbf5ef;
}
.course-details-even-row {
  // background:rgba(50, 50, 93, 0.9);
  background: #fffaf5;
}
.course-article {
  @extend %flex-center;
  //  color: white;
  padding: 2rem 0;
  cursor: arrow;

  p {
    margin-bottom: 0.5rem;
    letter-spacing: 0.03rem;
  }
  &:last-child {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
}
// .course-details-wrapper{
//     max-width: 1140px;
//     margin: 0 auto;
// }

.course-content-head {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 2rem;
  font-weight: 800;
  background: rgb(236, 232, 225);
  padding: 1rem 0;
  p {
    font-size: 2rem;
    // color: rgb(199, 186, 13);
  }
}

//course-highlights
.course-highlights {
  @extend %flex-center;
  padding: 1rem 0;
  // margin: 0 1rem;
  // margin-bottom: 6rem;
  margin: 4rem 0;
  // background: white;
  .col {
    position: relative;
    div {
      position: relative;
      z-index: 1;
    }
    .module p:first-child {
      color: #956700;
    }
    .topic p:first-child {
      color: #0a746b;
    }
    .exercise p:first-child {
      color: #400793;
    }
    .project p:first-child {
      color: #790019;
    }
    img {
      position: absolute;
      left: 50%;
      top: 72%;
      transform: translate(-50%, -50%);
      width: 7rem;
      @media screen and (max-width: 768px) {
        transform: translate(-50%, -76%);
      }
    }
  }

  // box-shadow: 2px 2px 30px -30px rgba(0,0,0,.7);
  // border-radius: 8px;
  // box-shadow: 0 13px 27px -5px rgba(50,50,93,.25), 0 8px 16px -8px rgba(0,0,0,.3), 0 -6px 16px -6px rgba(0,0,0,.025);

  // &:hover {
  //     transform: translateY(-2px);
  //     box-shadow:0 30px 60px -12px rgba(50,50,93,.25), 0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
  // }
  // transition: transform 0.5s ease;
}
.module-topic {
  display: flex;
  align-items: center;
  img {
    width: 7rem;
    margin-left: 1rem;
  }
}

.col {
  width: 25%;
  text-align: center;
  border-right: 1px solid #ededed;

  &:last-child {
    border-right: none;
  }
  .numbers {
    font-size: 4.75rem;
    font-weight: 300;
    margin-bottom: -1rem;
    color: $green;
    font-family: $font-mukta;
  }
  .topics {
    font-size: 1.3rem;
    font-weight: 600;
    font-family: $font-serif;
    text-transform: uppercase;
    color: #21396a;
  }
}

.course-content {
  // max-width: 1140px;
  // margin: 0 auto;
  .module-container {
    padding: 2rem;
    h3 {
      color: $blue;
      // color: #21396a;
      color: $textBg1Heading;
      color: $greenDark;
      font-weight: 700;
      font-family: $font-serif;
      text-transform: uppercase;
    }
    .module-details {
      @extend %flex-between;
      align-items: flex-start;
      padding: 1rem 0;

      h5 {
        color: $textBg1Heading;
        background: $yellow;
        color: #896015;
        border-radius: 2px;
        padding: 0.1rem 0.6rem;
        display: inline-block;
        font-family: $font-mukta;
        font-size: 1rem;
        margin-bottom: 0.8rem;

        background: #e9d495;
        color: #9d4210;

        // #f6e7ba;
        // #9d4210;
      }

      p {
        margin-bottom: 0.5rem;
        font-size: 1.1rem;
        color: $textBg3Para;
      }

      .module-topics {
        width: 70%;
      }
      .module-projects {
        width: 30%;
      }
    }

    &:nth-child(2n) {
      background: #e6ebf1cc;
      h3 {
        color: $textBg1Heading;
      }
      h5 {
        background: #d7ecff;
        color: #494bae;
      }
    }
    &:nth-child(2n + 1) {
      background: $lightbg4;
      p {
        color: $textBg1Para;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .course-highlights {
    flex-direction: column;
    margin: 2rem 0;
    padding: 1rem 0;
  }
  .col {
    width: 100%;
    padding: 3rem 0;
    // border-bottom: 0.5px solid #ededed;
    &:last-child {
      // padding-bottom: 0;
      border-bottom: 0;
    }
  }
  .course-content {
    .module-container {
      .module-details {
        .module-topics {
          width: 100%;
        }
        .module-projects {
          width: 100%;
        }
      }
    }
  }
  .course-details-heading {
    flex-direction: column;
    padding: 0 2rem;
    h2 {
      font-size: 2rem;
    }
    img {
      width: 50px;
    }
  }
}
