html {
  font-size: 16px;
}
*::before,
*::after {
  box-sizing: border-box;
}
body{
  font-family: $font-source;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.container{
  max-width: 1140px;
  margin: 0 auto;
}

h1 {
  @extend %fontSize1;
}
h2 {
  @extend %fontSize2;
}
h3 {
  @extend %fontSize3;
  // letter-spacing: -0.08rem;
}
h4 {
  @extend %fontSize4;
  letter-spacing: -0.05rem;
}
h5 {
  @extend %fontSize5;
  letter-spacing: 0;
}
h6 {
  @extend %fontSize6;
  letter-spacing: 0;
}
button {
  outline: 0;
  border: none;
}

.btn {
  margin-top: 1.5rem;
  padding: .75rem 6rem;
  font-size: 1.1rem;
  letter-spacing:.06rem;
  // border: 1px solid black;
  border-radius: 3px;
  cursor: pointer;
  background: $green;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  font-family: $font-mukta;
  font-weight: 600;
  &:hover{
      color : white;
      transform: translateY(-1px);
      transition: all 0.3s ease;
      box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  }
  box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
}
.padding {
  padding: 5rem 0;
}



@media screen and (max-width: 768px) {
    html {
    font-size: 12px;
  }
  .container {
    padding: 0 2rem;
  }
  // .padding {
  //   // padding: 5rem 1rem;
  // }
}