.header{
    background-color: $lightbg1;
    border-bottom: 2px solid #e9f4f4;
}
.active{
    border-bottom: 2px solid $green;
}

.logo-img{
    width: 75%;
}
.nav{
    padding: 0.7rem 0;
    @extend %flex-between;
}
.nav-ul{
    @extend %flex-between;
}
.nav-link{
    margin-left: 2.5rem;
    color:#6b7c93;
    text-decoration: none;
    font-size: 1.3rem;
    
} 
.bars img {
    width: 30px;
}
.close-menu img {
    width: 25px;
}
.bars, .toggle, .close-menu {
    display: none;
}


@media screen and (max-width: 768px) {
    header {
        padding: 0 2rem;
    }
    .nav-menu {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        padding-top: 80px;
        background: rgba(44, 62, 80, 0.856);
        a {
            color: $yellow;
            font-size: 2rem;
            margin-bottom: 2rem;
        }
    }
    .nav-ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .bars,.close-menu {
        display: inline-block;
    }
    .logo {
        display: inline-block;
        z-index: 999;
        position: relative;
    }
    .toggle:checked ~ .nav-menu {
        display: inline-block;
    }
    .nav-link:hover {
        color: $green;
    }
    .close-menu {
    position: absolute;
    right: 0;
    left: 83%;
    top: 3%;
  }
}
