.header {
  background-color: $lightbg1;
  border-bottom: 2px solid #e9f4f4;
  position: relative;
  // z-index: 999;
  .active {
    border-bottom: 3px solid $green;
  }
}
.logo {
  font-size: 0;
}
.nav-item {
  .btn {
    font-size: 1rem;
    padding: 0.2rem 0.8rem;
    background: $green;

    margin-top: 0;
    color: rgb(241, 240, 240);
    color: white;
    border: 0.5px solid $green;
  }
  .login-header {
    background: none;
    color: #6b7c93;
    // color: $purple;
    //  background: $purple;
    // border: 2px solid $purple;
    // margin-left: 0;
  }
  .signup-header {
    margin-left: 0.8rem;
  }
}
.logo-img {
  width: 75%;
}
.nav {
  &.container {
    padding: 0.7rem 1.5rem;
  }
  @extend %flex-between;
}
.nav-ul {
  @extend %flex-between;
}

.nav-link {
  margin-left: 2.5rem;
  color: #6b7c93;
  text-decoration: none;
  font-size: 1.3rem;
}
.bars img {
  width: 30px;
}
.close-menu img {
  width: 25px;
}
.bars,
.toggle,
.close-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    padding-top: 2rem;
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    right: 0;
    bottom: -120%;
    // bottom: 0;
    text-align: center;
    padding-top: 80px;
    background: #32325d;
    z-index: 1000;
    a {
      display: inline-block;
      color: $yellow;
      font-size: 2.5rem;
      margin: 1rem 0;
    }
  }
  .nav-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bars,
  .close-menu {
    display: inline-block;
  }
  .logo {
    display: inline-block;
    z-index: 3;
    position: relative;
  }
  .toggle:checked ~ .nav-menu {
    display: inline-block;
  }
  .nav-link:hover {
    color: $green;
  }
  .close-menu {
    position: absolute;
    right: 0;
    left: 83%;
    top: 1.2%;
  }
  .nav-item {
    .btn {
      background: $green;
      padding: 0.4rem 2.5rem;
      font-size: 1.25rem;
      color: white;
      font-weight: 400;
      border-radius: 3px;
      border: 0;
      // background: transparent;
      box-shadow: none;
      // color: $yellow;
      // font-size: 2.5rem;
      // margin: 1rem 0;
    }
    .login-header {
      // color: $yellow;
      margin: 1.5rem 0;
      width: 5rem;
    }
    .signup-header {
      margin-left: 0;
      width: 5rem;
    }
  }
}
