.hero {
  background: linear-gradient($lightbg1, #fafcfe, #ffffff);
  position: relative;
  @extend %flex-center;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  .bg-hero {
    position: absolute;
    max-width: 100%;
    right: -28%;
    top: -57%;
    @media screen and (max-width: 1024px) {
      right: -34%;
      top: -49%;
    }
    @media screen and (max-width: 768px) {
      right: -45%;
      top: -87%;
    }
    @media screen and (max-width: 576px) {
      right: -47%;
      top: -39%;
    }
  }
  // padding-bottom: 2rem;
}
.hero-main {
  text-align: center;
  margin: 8rem 0 6rem;
  position: relative;
  z-index: 99;
  h1 {
    width: 69%;
    font-weight: 700;
    font-family: $font-serif;
    margin: 0 auto;
    line-height: 1.2;
    color: $textBg1Heading;
    font-size: 3.5rem;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     z-index: -1;
    //     top: -7px;
    //     bottom: -7px;
    //     left: -10px;
    //     width: 150px;
    //     -webkit-transform: skewY(-12deg);
    //     transform: skewY(-12deg);
    //     background: #f2feef;
    // }
  }

  h3 {
    // width: 70%;
    // font-family: $font-serif2;
    // margin: 1.5rem 0 8rem 0;
    color: #7f7f90;
    font-size: 1.55rem;
    font-weight: 400;
    line-height: 1.4;
    margin: 2.5rem 0;
    font-family: "Source Sans Pro", sans-serif;
  }
  .btn {
    margin-top: 2rem;
    &:hover {
      color: white;
    }
  }
}

.hero-features {
  @extend %flex-center;

  margin: 2rem 0;

  h5 {
    // padding-left: 1rem;
    // padding-right:  1rem;
    margin: 0 1rem;
    line-height: 0.9;
    color: #20345d;
    font-weight: 600;
    // text-transform: uppercase;
    font-size: 1.15rem;
    color: #7273ba;
    font-family: $font-mukta;
    @media screen and (max-width: 768px) {
      margin: 0 0.5rem !important;
      font-size: 1rem;
    }
  }
  .dot {
    width: 6px;
    height: 6px;
    background-color: #7f7f90;
    border-radius: 50%;
    display: inline-block;
  }
  .group-logo1 {
    width: 20%;
    margin-right: 7rem;
    position: absolute;
    left: 0%;
    bottom: 30%;
    z-index: 1;
  }
  .group-logo2 {
    width: 20%;
    margin-left: 7rem;
    position: absolute;
    right: 0%;
    bottom: 30%;
    z-index: 1;
  }
}

@media screen and (max-width: 768px) {
  .hero-main {
    margin: 4rem 0;
    h1 {
      width: 100%;
      font-size: 3.1rem;
    }
    h3 {
      font-size: 1.5rem;
    }
  }
}
