.more-testimonial{
    padding: 8rem 0;
}

.more-testimonial-head{
    padding-bottom: 3rem;
    @extend %flex-between;
    h2{
        width: 60%;
        font-family: $font-serif;
        font-weight: 700;
        font-size: 2.8rem;
    }
    img{
        width: 10%  ;
    }
}
.tweets{
    // background:#45B2E8;
    border-radius: 20px;
    padding: 0 .5rem;
}

.tweetgroup{
    @extend %flex-between;
    // height: 100%;
    .tweet {
        border-radius: 20px;
        padding: .5rem;
        width: 50%;
        // height: auto;
        flex: 1 1 auto;
        align-self: flex-start;
    }
}

