.more-testimonial {
  background: url(/assets/media/mask3.svg) no-repeat,
    linear-gradient(to right bottom, rgba(#111f3c, 1), rgba(#20345d, 1));
  background-size: cover;
}

.more-testimonial-head {
  padding-bottom: 3rem;
  @extend %flex-center;
  h2 {
    text-align: center;
    font-family: $font-serif;
    font-weight: 700;
    font-size: 2.8rem;
    color: #fff;
  }
  img {
    width: 3rem;
    margin-right: 1rem;
    display: inline-block;
  }
}
.tweets {
  // background:#45B2E8;
  border-radius: 20px;
  padding: 0 0.5rem;
}

.tweetgroup {
  @extend %flex-between;
  // height: 100%;
  .tweet {
    border-radius: 20px;
    padding: 0.5rem;
    width: 50%;
    // height: auto;
    flex: 1 1 auto;
    align-self: flex-start;
  }
}

@media screen and (max-width: 768px) {
  .more-testimonial-head {
    flex-direction: column;
    text-align: center;
    h2 {
      font-size: 2.4rem;
    }
    img {
      width: 50px;
    }
  }
}
