.pricing{
    background: $lightbg4;
    padding: 8rem 0;
}

.pricing-cards{
    @extend %flex-between;
    justify-content: space-evenly;
}
.pricing-head{
    @extend %flex-center;
    margin-bottom: 5rem;
    h2{
        // padding:5rem 0 ;
        font-family: $font-serif;
        font-weight: 700;
        font-size: 2.8rem;
    }

    img{
        width: 2.5%;
        display: inline-block;
        margin-right: 1rem;
    }

}

.pro-pricing{
    border-radius: 8px;
    background: #ffff;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    // filter: drop-shadow(0px 1.92651px 3.85303px rgba(41,37,51,0.1));
    &:hover{

        transform: translateY(-2px);
        transition: transform 0.3s ease;
        box-shadow: 0 30px 60px -12px rgba(50,50,90,.25),
        0 18px 36px -18px rgba(0,0,0,.3), 0 -12px 36px -8px rgba(0,0,0,.025);
    }
}
.pro-pricing-intro{
    @extend %flex-start;
    background: $lightbg1;
    border-radius: 8px;
    align-items: flex-start;
    img{
        width: 5.5rem;
    }
}
.pro-pricing-value{
    margin: 0;
    font-weight: 600;
    width: 100%;

    h2 {
        color: $green;
    }
    &.pro {
        h2 {
            color: $yellowDark;
        }
    }

    .price-tag {
        display: flex;
        align-items: center;
        h2 {
            font-size: 2rem;
            margin-right: 1rem;
        }
    }
}

.price{
    @extend %flex-between;
    text-decoration:line-through;
    // text-decoration-color: black;
    color: grey;
    h4 {
        font-size: 1.5rem;
    }
    p{
        padding-left: 1rem;
        font-size: 1.2rem;
    }
}

.offer-price{
    @extend %flex-between;
    p{
        padding-left: 1rem;
        font-size: 1.6rem;
    }
    h4 {
        font-size: 2rem;
        font-weight: 600;
    }
}
.pro-pricing-feature{
    @extend %flex-start;
    border-top: 0.5px solid #e9f4f4;
    padding: 0.5rem 0rem;
    padding: 0 1.5rem;
    img{
        width: 1.2rem;
        padding-right: 0.8rem;
        display: inline-block;
    }
    p{
        font-size: 1.1rem;
        padding: 0.65rem 0rem;
        font-weight: 500;
        color: $textBg1Para;
        font-family: $font-serif;
    }
    .general-feature {
        color: #8b8b8b;
    }
}

.general-feature{
    text-decoration:line-through;
    color: grey;
}