.testimonials {
    position: relative;
    margin: 5rem 0;
    background: #32325D;
    color: white;
    padding: 5rem 0;
    font-family: $font-open;
    
}
.testimonials-container {
    position: relative;
    max-width: 1040px;
    margin: 0 auto;
    padding: 5rem 0;
}

.author {
    @extend %flex-center;
    flex-basis: 40%;
    .author-img {
        object-fit: cover;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin-right: 1.5rem;
    }
    
    .name {
        color: #fcd669;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 19px;
        margin-bottom: 6px;
    }
}
blockquote {
        font-family: $font-serif;
        flex-basis: 60%;
        padding-left: 1.25rem;
        font-size: 1.5rem;
        line-height: 2;
        font-style: italic;
        &::before {
            content: "";
            width: 12px;
            height: 9px;
            color: #fcd669;
            position: relative;
            display: inline-block;
            top: -7px;
            background: url("../media/DOUBLE\ QUOTE2-01.svg")
        }
        &::after {
            content: "";
            width: 12px;
            height: 9px;
            color: #fcd669;
            position: relative;
            display: inline-block;
            top: -7px;
            background: url("../media/DOUBLE\ QUOTE-01.svg")
        }
}
.nav {
    margin: 0 0.6rem;
    min-width: 40px;
    height: 40px;
    border-radius: 50%;
     background: rgb(64, 105, 240);
    @extend %flex-center;
    position: relative;
    &:hover {
        transform: translateY(-2px);
        background: #7795F8;
    }
    &:active {
        background: rgb(64, 105, 240);
        transform: translatey(1px);
    }
    img {
        width: 20px;
        height: 20px;
    }
    transition: all 2s linear;
}
.quotes {
    @extend %flex-center;
    position: relative;
}
.content-wrapper {
    @extend %flex-center;
    overflow: hidden;
}

.testimonial {
    @extend %flex-center;
    width: 100%;
    position: absolute;
    // transform: translateX(100vw);
    // opacity: 0;
    left: -100vw;
    transition: left 3s ease;
    &.inactive {
    left: 100vw;
    opacity: 0.5;
    transition: left 2s ease;
    
}
        &.active {
            // transform: translateX(0);
            left: 0;
            display: flex !important;
            // opacity: 1;
        }
}


.nav-right {
        position: relative;
        right: -50%;
    }
.nav-left {
        position: relative;
        left: -50%;
    }

