/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.5;
}

h2 {
  font-size: 2.3125rem;
  line-height: 1.5945945945945945;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.5;
}

h4 {
  font-size: 1.4375rem;
  line-height: 1.6956521739130435;
}

h5 {
  font-size: 1.125rem;
  line-height: 1.7777777777777777;
}

h6 {
  font-size: 0.875rem;
  line-height: 1.8571428571428572;
}

.nav, .nav-ul, .key-features-heading, .features-container, .pricing-cards, .pricing-head, .price-discount, .price-real, .more-testimonial-head, .tweetgroup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pro-pricing-intro, .pro-pricing-feature, .footer-flex, .social-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero, .hero-features, .col1-4, .course-article, .author, .carousel__photo, .content-wrapper, .testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

html {
  font-size: 16px;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro";
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

h4 {
  letter-spacing: -0.05rem;
}

h5 {
  letter-spacing: 0;
}

h6 {
  letter-spacing: 0;
}

button {
  outline: 0;
  border: none;
}

.btn {
  margin-top: 1.5rem;
  padding: .75rem 6rem;
  background: #45B2E8;
  font-size: 1rem;
  letter-spacing: .06rem;
  border-radius: 3px;
  cursor: pointer;
  background: #3ecf8e;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  display: inline-block;
  -webkit-box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.btn:hover {
  color: white;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

.header {
  background-color: #f6f9fc;
  border-bottom: 2px solid #e9f4f4;
}

.logo-img {
  width: 75%;
}

.nav {
  padding: 0.7rem 0;
}

.nav-link {
  margin-left: 2.5rem;
  color: #6b7c93;
  text-decoration: none;
  font-size: 1.3rem;
}

.hero {
  background-color: #f6f9fc;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2rem;
}

.hero-main {
  text-align: center;
  margin: 8rem 0 6rem;
}

.hero-main h1 {
  width: 69%;
  font-weight: 700;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  line-height: 1.2;
  color: #32325d;
}

.hero-main h3 {
  color: #35322d;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.4;
  margin: 2rem auto 1.7rem;
  font-family: 'Source Sans Pro', sans-serif;
  color: #424770;
}

.hero-main .btn {
  margin-top: 3.5rem;
}

.hero-features h5 {
  margin-left: 1rem;
  line-height: 0.9;
  color: #32325d;
  border-bottom: 4px solid #fcd668;
}

.hero-features h5:first-child {
  margin-left: 0;
  border-left: 0;
  padding-left: 0;
}

.hero-features .group-logo1 {
  width: 20%;
  margin-right: 7rem;
  position: absolute;
  left: 0%;
  bottom: 30%;
  z-index: 1;
}

.hero-features .group-logo2 {
  width: 20%;
  margin-left: 7rem;
  position: absolute;
  right: 0%;
  bottom: 30%;
  z-index: 1;
}

.key-features {
  position: relative;
  padding-bottom: 9rem;
}

.key-head {
  background: #21396a;
  position: absolute;
  left: 0%;
  width: 100%;
  padding: 2rem 0 36rem;
}

.key-features-heading {
  width: 100%;
}

.key-features-heading h2 {
  width: 60%;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
  color: white;
}

.key-features-heading img {
  width: 12%;
}

.features {
  width: 100%;
  position: relative;
  z-index: 1;
  padding-top: 15rem;
}

.key-features-cards {
  margin: 0 1.5rem;
  padding: 1.75rem;
  text-align: center;
  height: 350px;
  background-color: #fcfcfc;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.key-features-cards:first-child {
  margin-left: 0;
}

.key-features-cards:last-child {
  margin-right: 0;
}

.key-features-cards:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 30px 60px -12px rgba(50, 50, 90, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
          box-shadow: 0 30px 60px -12px rgba(50, 50, 90, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.key-features-cards h4 {
  text-align: left;
  color: #32325d;
  text-transform: uppercase;
  font-family: "Mukta", sans-serif;
  font-size: 1.2rem;
  letter-spacing: 0.45px;
  font-weight: 600;
  margin: 0.8rem 0;
}

.key-features-cards img {
  width: 25%;
}

.key-features-cards p {
  color: #3f3f3f;
}

.key-features-points {
  text-align: left;
}

.key-features-points .point-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0.75rem 0rem;
}

.key-features-points .point-item:first-child {
  margin-top: 0.45rem;
}

.key-features-points .point-icon {
  width: 7%;
}

.key-features-points .point-item-title {
  margin-left: 0.25rem;
  font-size: 1rem;
  margin-top: -.3rem;
}

.course-shadow {
  -webkit-box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
          box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25), 0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 3rem;
}

.course-details {
  background: #f6f9fc;
  padding: 3rem 0 5rem;
}

.course-details-heading {
  text-align: center;
  font-family: "Lato", sans-serif;
}

.course-details-heading h2 {
  font-size: 2.8rem;
  font-weight: 700;
  margin: 3rem 0;
}

.col1-4 {
  width: 28%;
  text-align: left;
  padding-left: 4rem;
  font-size: 1.5rem;
  font-weight: 500;
  padding-right: 3rem;
}

.col1-4 img {
  min-width: 36px;
  height: 36px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 0.6rem;
  margin-right: 0.7rem;
  border: 3px solid white;
}

.col2-4 {
  width: 50%;
  text-align: left;
  padding-left: 5rem;
  font-size: 1.1rem;
  font-weight: 500;
  padding-right: 5rem;
}

.col3-4 {
  width: 25%;
  text-align: left;
  font-size: 1.3rem;
  font-weight: 500;
  padding-right: 5rem;
}

.course-details-odd-row {
  background: #FBF5EF;
}

.course-details-even-row {
  background: #FFFAF5;
}

.course-article {
  padding: 2rem 0;
  cursor: arrow;
}

.course-article p {
  margin-bottom: 0.5rem;
  letter-spacing: 0.03rem;
}

.course-article:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.course-details-wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.course-content-head {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  font-size: 2rem;
  font-weight: 800;
  background: #ece8e1;
  padding: 1rem 0;
}

.course-content-head p {
  font-size: 2rem;
}

.grid {
  position: absolute;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[16];
      grid-template-columns: repeat(16, 1fr);
  -ms-grid-rows: (60px)[18];
      grid-template-rows: repeat(18, 60px);
  -webkit-transform: skew(0deg, -10deg);
          transform: skew(0deg, -10deg);
  position: absolute;
  width: 100%;
  top: 4rem;
  z-index: -1;
}

.stripe1 {
  -ms-grid-row: 4;
  grid-row: 4/4;
  grid-column: span 1;
  background: #dbd94e;
  height: 100%;
}

.stripe2 {
  -ms-grid-row: 5;
  grid-row: 5/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  background: #21396a;
  height: 100%;
}

.stripe3 {
  -ms-grid-row: 5;
  grid-row: 5/5;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-column: 3/5;
  background: #4675d3;
  height: 100%;
}

.stripe4 {
  -ms-grid-row: 6;
  grid-row: 6/6;
  grid-column: -1/-2;
  background: #4675d3;
  height: 100%;
}

.stripe5 {
  -ms-grid-row: 7;
  grid-row: 7/7;
  grid-column: -1/-3;
  background: #46d346;
  height: 100%;
}

.stripe6 {
  -ms-grid-row: 11;
  grid-row: 11/11;
  grid-column: -1/-4;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: tomato;
  font-weight: 700;
  font-size: 1.3rem;
  background: brown;
}

.stripe7 {
  -ms-grid-row: 12;
  grid-row: 12/12;
  grid-column: -1/-3;
  border-top: none;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ff4750;
  font-size: 1.3rem;
  font-weight: 700;
  background: #4675d3;
}

.course-highlights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem 0;
  margin-bottom: 6rem;
  background: #45B2E8;
}

.col {
  width: 25%;
  text-align: center;
  border-right: 1px solid black;
}

.col:last-child {
  border-right: none;
}

.col .numbers {
  color: black;
  font-size: 3rem;
  font-weight: 700;
  font-family: "Work Sans", sans-serif;
  margin-bottom: -1rem;
}

.col .topics {
  color: #1f1e1e;
  font-size: 1.4rem;
  font-weight: 700;
}

.pricing {
  background: #FBF5EF;
  padding: 8rem 0;
}

.pricing-head {
  margin-bottom: 5rem;
}

.pricing-head h2 {
  width: 40%;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
}

.pricing-head img {
  width: 8%;
}

.pro-pricing {
  width: 48%;
  border-radius: 20px;
  background: #ffff;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.pro-pricing:hover {
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
  -webkit-box-shadow: 0 30px 60px -12px rgba(50, 50, 90, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
          box-shadow: 0 30px 60px -12px rgba(50, 50, 90, 0.25), 0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025);
}

.pro-pricing-intro img {
  width: 30%;
}

.pro-pricing-value {
  margin: 0 0 0 10rem;
}

.price-discount {
  text-decoration: line-through;
  color: grey;
}

.price-discount p {
  padding-left: 1rem;
}

.price-real p {
  padding-left: 1rem;
}

.pro-pricing-feature {
  border-top: 1px solid #cacaca;
  padding: .3rem;
}

.pro-pricing-feature img {
  width: 4%;
  padding: 0 1rem;
}

.pro-pricing-feature p {
  padding-left: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}

.general-feature {
  text-decoration: line-through;
  color: grey;
}

.more-testimonial {
  padding: 8rem 0;
}

.more-testimonial-head {
  padding-bottom: 3rem;
}

.more-testimonial-head h2 {
  width: 60%;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 2.8rem;
}

.more-testimonial-head img {
  width: 10%;
}

.tweets {
  background: #45B2E8;
  border-radius: 20px;
  padding: 0 .5rem;
}

.tweetgroup .tweet {
  border-radius: 20px;
  padding: .5rem;
  width: 50%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.testimonials {
  position: relative;
  margin: 5rem 0;
  background: #32325D;
  color: white;
  padding: 5rem 0;
  font-family: "Open Sans", sans-serif;
}

.author {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.author .author-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 1.5rem;
}

.author .name {
  color: #fcd669;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 19px;
  margin-bottom: 6px;
}

blockquote {
  font-family: "Lato", sans-serif;
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  padding-left: 1.25rem;
  font-size: 1.5rem;
  line-height: 2;
  font-style: italic;
}

blockquote::before {
  content: "";
  width: 12px;
  height: 9px;
  color: #fcd669;
  position: relative;
  display: inline-block;
  top: -7px;
  background: url("../media/DOUBLE QUOTE2-01.svg");
}

blockquote::after {
  content: "";
  width: 12px;
  height: 9px;
  color: #fcd669;
  position: relative;
  display: inline-block;
  top: -7px;
  background: url("../media/DOUBLE QUOTE-01.svg");
}

.carousel-wrapper {
  overflow: hidden;
  width: 90%;
  margin: auto;
}

/* Apply 'border-box' to 'box-sizing' so border and padding is included in the width and height. */
.carousel-wrapper * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* We'll be using the 'transform' property to move the carousel's items, so setting the 'transform-style' to 'preserve-3d' will make sure our nested elements are rendered properly in the 3D space. */
.carousel {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

/* By default we're hiding items (except the initial one) until the JS initiates. Elements are absolutely positioned with a width of 100% (as we're styling for mobile first), letting the content's height dictate the height of the carousel. Our magic property here for all our animation needs is 'transition', taking the properties we wish to animate 'transform' and 'opacity', along with the length of time in seconds. */
.carousel__photo {
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  margin: auto;
  padding: 1rem 4rem;
  z-index: 100;
  -webkit-transition: opacity .5s, z-index .5s, -webkit-transform .5s;
  transition: opacity .5s, z-index .5s, -webkit-transform .5s;
  transition: transform .5s, opacity .5s, z-index .5s;
  transition: transform .5s, opacity .5s, z-index .5s, -webkit-transform .5s;
}

/* Display the initial item and bring it to the front using 'z-index'. These styles also apply to the 'active' item. */
.carousel__photo.initial,
.carousel__photo.active {
  opacity: 1;
  position: relative;
  z-index: 900;
}

/* Set 'z-index' to sit behind our '.active' item. */
.carousel__photo.prev,
.carousel__photo.next {
  z-index: 800;
}

/* Translate previous item to the left */
.carousel__photo.prev {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

/* Translate next item to the right */
.carousel__photo.next {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

/* Style navigation buttons to sit in the middle, either side of the carousel. */
.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top: 50%;
  width: 3rem;
  height: 3rem;
  background-color: #FFF;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 1001;
  /* Sit on top of everything */
  border: 1px solid black;
  /*  opacity: 0;  Hide buttons until carousel is initialised 
  transition:opacity 1s;*/
}

.carousel__button--prev {
  left: 0;
}

.carousel__button--next {
  right: 0;
}

/* Use pseudo elements to insert arrows inside of navigation buttons */
.carousel__button--prev::after,
.carousel__button--next::after {
  content: " ";
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 54%;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.carousel__button--next::after {
  left: 47%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: grey;
  margin: 5px;
}

.content-wrapper {
  overflow: hidden;
}

.testimonial {
  width: 100%;
  position: absolute;
  left: -100vw;
  -webkit-transition: left 3s ease;
  transition: left 3s ease;
}

.testimonial.inactive {
  left: 100vw;
  opacity: 0.5;
  -webkit-transition: left 2s ease;
  transition: left 2s ease;
}

.testimonial.active {
  left: 0;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.nav-right {
  position: relative;
  right: -50%;
}

.nav-left {
  position: relative;
  left: -50%;
}

.active-dot {
  background-color: white;
}

.footer {
  background: #1e1e1e;
  padding: 5rem 0;
}

.footer-container {
  max-width: 1140px;
  margin: 0 auto;
}

.footer-flex {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer-col1-2 {
  width: 50%;
}

.footer-col2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: -1rem;
}

.footer-logo svg {
  width: 100px;
}

.footer-text {
  font-size: 0.9rem;
  color: #666869;
  padding-top: 1rem;
}

.links {
  width: 50%;
}

.links h4 {
  color: #dad6d6;
  margin-bottom: 0.4rem;
}

.social {
  width: 50%;
}

.social h4 {
  color: #dad6d6;
  margin-bottom: 0.7rem;
}

.quick-links a {
  text-decoration: none;
  font-size: 0.9rem;
  color: #666869;
  margin-top: 1rem;
}

.quick-links a:hover {
  color: #888806;
}

.social-flex img {
  width: 48px;
  display: inline-block;
  margin-right: 1rem;
}

.social-flex img:hover {
  opacity: 0.6;
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.footer-copyright {
  margin-top: 3rem;
  text-align: center;
  font-size: 0.85rem;
  font-weight: 300;
  color: rgba(221, 234, 240, 0.2);
}
/*# sourceMappingURL=style.css.map */