@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
/* .btn-blue {
  @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
} */

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */
html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
}

button {
  outline: 0 !important;
  border: 0 !important;
}

.btn-hover:hover {
  transform: translateY(-1px);

  transition: all 0.3s ease;

  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.navbar {
  background-color: #f6f9fc;
}

/* Hero */
.hero {
  background: linear-gradient(#f6f9fc, #fafcfe, #ffffff);
  position: relative;
}

.hero-heading {
  font-size: 3.5rem;
  font-weight: 700;
}

.hero-image {
  max-width: 100%;
  right: -28%;
  top: -57%;
}

@media screen and (max-width: 1024px) {
  .hero-image {
    right: -34%;
    top: -49%;
  }
}

@media screen and (max-width: 768px) {
  .hero-image {
    right: -45%;
    top: -87%;
  }

  .hero-heading {
    font-size: 2.9rem;
  }
}

@media screen and (max-width: 576px) {
  .hero-image {
    right: -47%;
    top: -39%;
  }
}

.course-icon img {
  left: 50%;
  top: 72%;
  transform: translate(-50%, -76%);
  width: 7rem;
}

.number-1 {
  color: #956700;
}

.number-2 {
  color: #0a746b;
}

.number-3 {
  color: #400793;
}

.number-4 {
  color: #790019;
}

/* CTA */
.cta {
  background: url(/assets/media/mask2.svg),
    linear-gradient(to right top, #61cb72, #41a951);
  background-size: cover;
}

/* Testimonial */
.tweet-selection,
.testimonial {
  background: url(/assets/media/mask3.svg) no-repeat,
    linear-gradient(to right bottom, #111f3c, #20345d);
  background-size: cover;
}

.testimonial blockquote::before,
.testimonial blockquote::after {
  content: '';
  width: 12px;
  height: 9px;
  color: #fcd669;
  position: relative;
  display: inline-block;
  top: -7px;
  background: url(/assets/media/quote2.svg);
}

.testimonial blockquote::after {
  background: url(/assets/media/quote1.svg);
}

.prev::after,
.next::after {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.prev::after {
  content: '⬅';
}

.next::after {
  content: '⮕';
}

.next-container {
  right: 0rem;
  top: 0;
  bottom: 0;
  height: 100%;
  /* background-color: #111f3c; */
}

.prev-container {
  left: 0rem;
  top: 0;
  bottom: 0;
  height: 100%;
  /* background-color: #111f3c; */
}

@media screen and (min-width: 768px) {
  .course-icon img {
    transform: translate(-50%, -71%);
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }

  /* Navbar */
  .nav-menu {
    position: absolute;
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding-top: 80px;
    background: #32325d;
    z-index: 99999;
  }

  .bars {
    display: inline-block;
  }

  .close-menu {
    display: inline-block;
    position: absolute;
    right: 2rem;
    top: 2rem;
  }

  .toggle:checked ~ .nav-menu {
    display: inline-block;
  }
}

.map-embed {
  width: 600px;
  height: 240px;
  margin: 4rem 0;
}

.leading-custom {
  line-height: 1.2;
}

.text-hero-subheading {
  color: #7f7f90;
}

.text-hero-tags {
  color: #7273ba;
}

.font-w600 {
  font-weight: 600;
}

.feature-desc {
  color: #6b7c93;
}

.prose {
  max-width: 100%;
  font-size: 1.14rem;
}

@media screen and (max-width: 640px) {
  .prose {
    font-size: 1.3rem;
  }
}

.prose p,
ul {
  color: rgb(66, 84, 102);
  font-weight: 500;
}

.transcript {
  padding: 1.25rem;
  background: #f5fbff;
  border-radius: 0.1rem;
}

.transcript .mentor {
  background: rgb(233, 212, 150);
  color: rgb(156, 66, 33);
  padding: 2px 6px;
  border-radius: 2px;
}

.transcript .student {
  background: rgb(190, 227, 248);
  color: rgb(50, 50, 93);
  padding: 2px 6px;
  border-radius: 2px;
}
/* Embedded media */
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.prose .gist ul > li {
  position: static;
  padding-left: 0px;
}

.prose .gist p {
  color: rgb(36, 41, 46);
  font-weight: 500;
  color: #4a5568;
  font-family: -apple-system, BlinkMacSystemFont, 'Open Sans';
  font-size: 1rem;
  line-height: 1.5;
}

.prose .gist h3 {
  font-family: 'Lato';
}

.prose code::before,
code::after {
  content: '';
}

/* Alumini Profile */
/* .student-background {
  height: 0;
  opacity: 0;
  transition: all 300ms ease-in-out;
}
#show-background:checked ~ .student-background {
  height: auto;
  opacity: 1;
}
#show-background:checked ~ label span {
  background-color: rgba(233, 237, 244,1);
} */

/* Student's Review */
/* .review::before {
  width: 4rem;
  height: 4rem;
  background: #000 url(/images/icons/quote-opening.svg);
} */

.experience-quote {
  text-indent: -1.1rem;
  padding-left: 1.2rem;
  position: relative;
}
@supports (hanging-punctuation: first) {
  .experience-quote {
    text-indent: 0;
    hanging-punctuation: first;
  }
}

.experience-quote::before {
  content: open-quote;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1rem;
  /* position: absolute; */
}
.experience-quote::after {
  content: close-quote;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1rem;
}
.experience-quote {
  quotes: '“' '”' '‘' '’';
}
@import url('prism.css');

div[role='gridcell'] {
  @apply border;
  @apply rounded-lg;
  @apply shadow-sm;
}
